.imgquiz{
    margin-top: 10px;
    height: 500px;
    width: 700px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.opcion{
    margin-top: 0.5rem;
}

.boton{
    background-color: rgba(51, 74, 88, 0.459);
    font-size: 20px
}

.boton:hover{
    background-color: rgb(81, 94, 206);
}

.boton:focus{
    background-color: rgb(197, 179, 14);
}

.quiz{
    display: none;
    background-color: rgba(0, 0, 0, 0.13);
}

.comenzar{
    margin-top: 20px;
    width: 200px;
    height: 80px;
    font-size: 40px;
    border-radius: 5rem;
    background-color: rgb(70, 146, 218);
}

.comenzar:hover{
    background-color: rgb(61, 189, 61);
}

footer{
    margin-left: 15px;
    bottom: 0;
    position:absolute;
}
